<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.camera_deep_ar">


    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

<!--    <uses-feature android:name="android.hardware.camera.front" />-->
<!--    <uses-feature android:name="android.hardware.microphone" />-->
<!--    <uses-feature android:name="android.hardware.camera2" />-->
<!--    <uses-feature-->
<!--        android:name="android.hardware.camera.autofocus"-->
<!--        android:required="true" />-->
<!--    <uses-feature android:name="android.hardware.camera.flash" />-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
